header {
    nav {
        background-color: var(--bs-primary);
        .navbar-brand {
            font-weight: bold;
            color: white !important;
            font-size: 1.5rem;

            span.etvo {
                font-weight: 600;
                font-family: "Lora", serif;
            }
            
            span.site-title {
                font-size: 0.6em;
                font-weight: 300;
                margin-left: 0.25rem;
                letter-spacing: 2px;
            }

            &:hover,
            &:active,
            &:focus {
                opacity: 0.7;
            }
        }

        .navbar-nav {
            font-weight: 400;
            font-family: "Lora", serif;

            .nav-item a {
                color: white !important;

                &:hover,
                &:active,
                &:focus {
                    opacity: 0.7;
                }

                &.active {
                    font-weight: bold;
                }
            }
        }
    }
}

footer {
    padding: 1rem;
    text-align: center;
    color: #666;
    font-weight: 300;
}
