
main {
    padding: 2rem 0;
    overflow: visible;

    .heading {
        margin-bottom: 1rem;
        
        .desc {
            @include small-text();
            font-weight: 300;
            margin-bottom: 0;
            line-height: 1.3;
        }
    }

    .back-to {
        display: block;
        color: var(--bs-primary);
        font-size: .85rem;
        text-decoration: none;
        margin: .5rem 0;
        
        &::before {
            content: '←';
            margin-right: .5rem;
        }
    }
    
    .section-title {
        @include small-text();
        font-weight: bold;
        margin-bottom: .75rem;
    }

    &.init {
        .field.select, .back-to {
            display: none;
        }
    }

    &.index {
        padding: 5rem 0;
        .dashboard-options a.nav-link {
            color: var(--bs-primary);
            font-size: 300;
            margin: .5rem 0;
            font-family: 'Lora', serif;

            &:hover {
                opacity: .6;
            }
        }
    }
}