.show-users {
    .add-new {
        margin-bottom: 1rem;
    }

    .table {
        th {
            font-family: "Lora", sans-serif;
            font-size: 0.85rem;
        }
        tr {
            &.user-inactive td {
                background-color: #fafafa;
                &:not(.active) {
                    opacity: 0.75;
                }
                &.actions a {
                    visibility: hidden;
                }
            }

            &:hover {
                .actions {
                    opacity: 1;
                }
            }
        }
        td {
            font-size: 0.95rem;
            letter-spacing: 0.2px;
            vertical-align: middle;

            &.active {
                font-size: 1.25rem;
            }

            a {
                color: var(--bs-primary);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            &.actions {
                width: 100px;
                opacity: 0;
                transition: opacity  0.1s;

                a {
                    font-size: 1rem;
                    margin-right: 0.5rem;

                    transition: opacity 0.1s;

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover {
                        text-decoration: none;
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}

.add-new-user {
    .password .field-help {
        display: none;
    }
}