@mixin small-text() {
    letter-spacing: 0.4px;
    font-size: 0.95rem;
}

@import "./views/header-footer.scss";
@import "./views/main-container.scss";
@import "./views/content.scss";
@import "./views/forms.scss";
@import "./views/login.scss";
@import "./views/users.scss";

html {
    scroll-behavior: smooth;
    overflow: visible;
    overflow-y: scroll;
}

body {
    background-color: white !important;
    overflow: visible;
}

.container {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}

*::selection {
    background-color: mix(white, #ed2647, 20%);
    color: white;
}

mark {
    background-color: var(--bs-primary) !important;
    padding: 0.1rem 0 !important;
}

form {
    label {
        cursor: pointer;
    }
}

.btn {
    font-size: 0.9rem;
}

.btn-primary {
    color: white !important;
}

.btn.icon-btn {
    display: flex;
    align-items: center;

    border: solid 1px #1e1e1e;
    padding: 0.25rem 0.5rem;

    font-size: 0.8rem;

    span.icon {
        color: var(--bs-primary);
        margin-right: 0.25rem;
    }

    span.text {
        color: var(--bs-dark);
        font-weight: 300;
    }

    &:not(:has(> span.text)) {
        span.icon {
            margin-right: 0;
        }
    }

    &:active {
        opacity: 0.5;
    }
}

.btn.btn-remove-block {
    border-color: var(--bs-primary);

    span.text {
        color: var(--bs-primary);
    }
}

.btn.remove {
    border-color: var(--bs-primary);

    span.text {
        color: var(--bs-primary);
    }
}

// BRAND STYLING
$brand_color: var(--bs-primary);
$brand_color_alt: white;

.etvo-manage-brand {
    font-weight: bold;
    color: $brand_color !important;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;

    .etvo {
        display: block;
        font-family: "Lora", serif;
        font-size: 1.1em;
        letter-spacing: 1px;
        line-height: 1;

        span {
            font-family: "Roboto", sans-serif;
            font-size: 0.9em;
            font-weight: 200;
            font-style: normal;
            margin-left: 0.25rem;
        }
    }

    .site-title {
        display: inline-block;
        margin-top: 0.4rem;
        margin-left: 0.75rem;

        line-height: 1;
        font-size: 0.5em;
        font-weight: 600;
        letter-spacing: 2px;

        text-transform: uppercase;
        border: solid 1px $brand_color;
        color: $brand_color_alt;
        background-color: $brand_color;

        padding: 0.25rem 0.35rem;
        border-radius: 0.25rem;
    }

    a {
        text-decoration: none;
        color: inherit;

        &:hover,
        &:active,
        &:focus {
            opacity: 0.7;
        }
    }
}

a {
    transition: all .2s !important;
}